@use "../../styles/variables.module.scss" as *;

.loginFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginFormWrapper {
  margin-top: 3rem;
  max-width: 32rem;
  width: 100%;
}

.titleWrapper {
  margin-top: 15%;
}
.title {
  font-weight: 700;

  color: $primary;
}

.contentContainer {
  padding-top: 1.5rem;
  padding-left: 0rem;
  padding-right: 0rem;
}
