// main colors
$primary: #5878e0;
$secondary: #282959;

// light colors
$light0: #ffffff;
$light1: #f9fafc;
$light2: #eceff5;

// dark colors
$dark0: #000000;
$dark1: #140f26;
$dark2: #4b475a;
$dark3: #8d96a4;
