@use "../../../styles/variables.module.scss" as *;
.todoSectionHeader {
  width: 100%;
  min-height: 4.3rem;
  margin-bottom: 5px;
}
.todoHeaderBackground {
  background-color: $primary;
  height: 100%;
  padding: 1rem;
}

.todoHeaderTitle {
  color: $light0;
  min-width: 100px;

  @media (max-width: 540px) {
    min-width: 90%;
  }
}

.todoHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.todoHeaderSectionLeft {
  display: flex;
  align-items: center;

  @media (max-width: 540px) {
    flex-direction: column;
    row-gap: 1rem;
  }
}

.todoHeaderSectionRight {
  color: $light0;
}

.todoCard {
  width: 100%;
  min-height: 4rem;
  margin-bottom: 5px;
}

.todoCardBackground {
  background-color: $light2;
  padding: 1rem;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 540px) {
    display: block;
  }
}

.todo {
  background-color: #f6ed97;
}

.done {
  background-color: #a9f697;
}

.inprogress {
  background-color: #ec6fd5;
}

.todoTitleSection {
  display: flex;
  align-items: center;
}

.checked {
  text-decoration-line: line-through;
}
